<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>information</title>
</head>
<body>
    <table class="table table-striped table-hover success">
            <thead>
                <tr>
                <th style="text-align: center;">번호</th>
                <th>이름</th>
                </tr>
            </thead>
            <tbody>
            {% for i in range(count) %}
            <tr>
                <td style="text-align: center; font-weight:bolder ;"><h5>{{ i+1 }}</h5></td>
                <td><h5 style="display: inline-block; font-weight: bolder;">{{ names[i] }}  >> </h5> <a href="{{ urls[i] }}">클릭</a></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

</body>
</html>